# Google Identity Services
VITE_GOOGLE_CLIENT_ID=

# Firebase Client Configuration (Loaded via Vite import.meta.env)
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0085912328
VITE_FIREBASE_APP_ID=1:910198173440:web:30ed7190c3423b87988de5
VITE_FIREBASE_API_KEY=AIzaSyD3y-RoyekI6NJx7ztI0v5tFNN5sRl196o
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0085912328.firebaseapp.com
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-815a8484-ccb3-4aa6-90b6-77fad11b53ba
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0085912328.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=910198173440

# Firebase Server-Side Configuration (Loaded via process.env in Node)
FIREBASE_PROJECT_ID=
FIRESTORE_DATABASE_ID=

# Gemini API Key (Server-side)
GEMINI_API_KEY=
